pipeline/Copy_each_table_to_ADLS.json
{
	"name": "Copy_each_table_to_ADLS",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT *\nFROM user_db.INFORMATION_SCHEMA.TABLES\nWHERE TABLE_NAME IN ('Departments','Employees')",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AzureSQL_CaseStudy",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_AzureSQL_CaseStudy",
						"type": "DatasetReference"
					},
					"fieldList": [
						{
							"value": "@activity('Lookup1').output.value",
							"type": "Expression"
						}
					]
				}
			}
		],
		"folder": {
			"name": "Control Flow Activities/Case Study"
		},
		"annotations": []
	}
}