pipeline/Lookup.json
{
	"name": "Lookup",
	"properties": {
		"activities": [
			{
				"name": "Fetch Records From users Table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_user_info",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Fetch Records From users Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity(\n'Fetch Records From users Table'\n).output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@and(equals(item().country,\n'United States'\n), equals(item().region,\n'Virginia'\n))",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "Lookup"
		},
		"annotations": [],
		"lastPublishTime": "2024-05-15T08:08:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}