pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "file_names",
					"value": "d.csv"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "output",
					"value": {
						"value": "@variables('file_names')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"file_names": {
				"type": "Array",
				"defaultValue": [
					"a.csv",
					"b.csv",
					"c.csv"
				]
			},
			"output": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Append Variable"
		},
		"annotations": []
	}
}